* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}


:root {
	--opensans: 'Open Sans', sans-serif;
	--poiretone: 'Poiret One', cursive;
	--orange: #DA6A3C;
	--gris: #747478;
	--oscuro: #222222;
	
}

body {
	font-family: var(--opensans);
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-areas: "header header header header"
											 "background-a background-a background-a background-a"
											 "about-style about-style about-style about-style"
											 "team team team team"
											 "footer footer footer footer";
	height: 100vh;
}

/* Header */
.header {
	grid-area: header;
	background-color: #F8F8F8;

}

.logo a{
	font-family: var(--poiretone);
	text-decoration: none;
	color: var(--orange);
	font-size: 4em;
	font-weight: 600;

}

.logo span {
	color: #222;
	margin-left: .3em;
}

.nav-header {
	display: flex;
	justify-content: space-around;
	padding:1em;
}

/*Burguer-Button */
.burguer-button {
	width: 50px;
	height: 50px;
	display: none;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	color:#000;
	font-size: 35px;
}


.nav-second {
	margin-top: 1.5em;
}

.nav-second .nav-list {
	display: flex;
	list-style: none;
}

.nav-second .nav-list li {
	margin-left: 20px;
}


.nav-primary ul li a {
	text-decoration: none;
	font-family: var(--opensans);
	font-size: 1.2em;
	color: var(--gris);
}
/* Header -- */

/* Background */
	.background-a {
		grid-area: background-a;
		background-image: url(../img/paris.jpg);
		background-repeat: no-repeat;
		background-size: cover;

	}

	.container-a {
		padding:4em 2em;
	}

	.container-a h1 {
		font-size: 3em;
		font-family: var(--poiretone);
		color:#fff;
		text-align: center;
	}

/* Background --*/

/*About-style */
.about-style {
	grid-area: about-style;
}

.about-text1 {
	padding-top: 1em;
}
.about-grid {
	display: grid;
	grid-template-columns: repeat(3, 25%);
	justify-content: center;
	margin-top: 3em;
	grid-gap: 2em;
}

.about-grid p {
	color:var(--gris);
	font-size: 14px;
	line-height: 1.8em;
	font-family: var(--opensans);
	margin-bottom: 1em;
}

.about-grid h4 {
	font-size: 1.3em;
	font-family: var(--poiretone);
	margin-bottom: 0.5em;
}

.about-grid h3 {
	color:var(--orange);
	font-family: var(--poiretone);
	font-size: 3em;
	margin-bottom: .5em;
}

.about-one img {
	display: block;
	width: 100%;
	margin-top: 1em;
}

.trend {
	margin-top: 2em;
}

.trend ul {
	list-style: none;
}

.trend ul li a {
	text-decoration: none;
	color:var(--gris);
	font-size: 14px;
	line-height: 2em;
}

.arrow {
	color:var(--orange);
	margin-right: 15px;
}
/* --About-style*/ 

/*Team*/
.team {
	grid-area: team;
	padding:2em 0;
}

.container-team {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	grid-gap: 20px;
	padding-top: 1em;
}

.team h3 {
	text-align: center;
	font-size: 3em;
	color:var(--orange);
	font-family: var(--poiretone);
}

.team-grid h4 {
	font-size: 25px;
	font-family: var(--poiretone);
	margin:0.6em 0 0.3em;;
}

.team-grid p {
	font-size: 14px;
	font-family: var(--opensans);
	line-height: 1.8em;
	color:var(--gris);
}

.team-grid img {
	display: block;
	width: 100%;
}

/*--Team*/

/*Footer */ 

.footer {
	grid-area: footer;
	padding:3em 0;
	background:#F8F8F8;
}

.about {
	padding:0 15px;
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(3, 25%);
	justify-content: center;
	margin-bottom: 1em;
}

.about h3, .flick h3, .contact h3 {
	color:var(--orange);
	font-size: 42px;
	margin-bottom: .6em;
	font-family: var(--poiretone);
}

.about p, .contact p {
	font-size: 14px;
	color:var(--gris);
	line-height: 2em;
	font-family: var(--opensans);
}

.flick-grids {
	display: flex;
	flex-wrap: wrap;
}
.flick-grid {
	width: 30%;
	margin:2px 2px;
}

.flick-grid img{
	display: block;
	width: 100%;	
}


.copy {
	border-top:1px ridge rgba(11, 12, 16, 0.16);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}
.copy p {
	text-align: center;
	font-family: var(--opensans);
	font-size: 0.9em;
	color:var(--gris);
}

.form-contact {
	margin-top: 2em;
}

.form-contact ::placeholder {
	font-size: 14px;
	color:var(--oscuro);
	font-family: var(--opensans);
}

.form-contact input[type="text"] {
	width: 67%;
	outline:none;
	border:none;
	padding:0.7em;
	background-color: #fff;
	font-size: 14px;
}

.form-contact input[type="submit"] {
	width: 30%;
	padding:0.7em;
	font-size: 12px;
	color:#fff;
	background:var(--oscuro);
	border:none;
	font-family: var(--opensans);
}
/* -Footer*/
