* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}


:root {
	--opensans: 'Open Sans', sans-serif;
	--poiretone: 'Poiret One', cursive;
	--orange: #DA6A3C;
	--gris: #747478;
	--oscuro: #222222;
	
}

body {
	font-family: var(--opensans);
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-areas: "header header header header"
											 "background-a background-a background-a background-a"
											 "designers designers designers designers"
											 "footer footer footer footer";
	height: 100vh;
}

/* Header */
.header {
	grid-area: header;
	background-color: #F8F8F8;

}

.logo a{
	font-family: var(--poiretone);
	text-decoration: none;
	color: var(--orange);
	font-size: 4em;
	font-weight: 600;

}

.logo span {
	color: #222;
	margin-left: .3em;
}

.nav-header {
	display: flex;
	justify-content: space-around;
	padding:1em;
}

.nav-second {
	margin-top: 1.5em;
}


/*Burguer-Button */
.burguer-button {
	width: 50px;
	height: 50px;
	display: none;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	color:#000;
	font-size: 35px;
}

.nav-second .nav-list {
	display: flex;
	list-style: none;
}

.nav-second .nav-list li {
	margin-left: 20px;
}


.nav-primary ul li a {
	text-decoration: none;
	font-family: var(--opensans);
	font-size: 1.2em;
	color: var(--gris);
}
/* Header -- */
/* Background */
	.background-a {
		grid-area: background-a;
		background-image: url(../img/paris.jpg);
		background-repeat: no-repeat;
		background-size: cover;

	}

	.container-a {
		padding:4em 2em;
	}

	.container-a h1 {
		font-size: 3em;
		font-family: var(--poiretone);
		color:#fff;
		text-align: center;
	}

/* Background --*/

/*Designers */

.designers {
	grid-area: designers;
}

.designers1, .designers2, .designers3, .designers4 {
	display: flex;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.designer-grid1 {
	margin-left: 20px;
}



/* .designer-grid {
	float: left;
} */

.container-designer {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	padding:3em 0;
}

.container-designer h3 {
	color:var(--orange);
	font-size: 1.8em;
	font-family: var(--poiretone);
}

.container-designer p {
	font-size: 14px;
	color:var(--gris);
	font-family: var(--opensans);
	line-height: 2em;
	margin: 1em 0 0em;
}


/* -- Designers */

/*Footer */ 

.footer {
	grid-area: footer;
	padding:4em 0 1em 0;
	background:#F8F8F8;
}

.about {
	padding:0 15px;
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(3, 25%);
	justify-content: center;
	margin-bottom: 1em;
}

.about h3, .flick h3, .contact h3 {
	color:var(--orange);
	font-size: 42px;
	margin-bottom: .6em;
	font-family: var(--poiretone);
}

.about p, .contact p {
	font-size: 14px;
	color:var(--gris);
	line-height: 2em;
	font-family: var(--opensans);
}

.flick-grids {
	display: flex;
	flex-wrap: wrap;
}
.flick-grid {
	width: 30%;
	margin:2px 2px;
}

.flick-grid img{
	display: block;
	width: 100%;	
}


.copy {
	border-top:1px ridge rgba(11, 12, 16, 0.16);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}
.copy p {
	text-align: center;
	font-family: var(--opensans);
	font-size: 0.9em;
	color:var(--gris);
}

.form-contact {
	margin-top: 2em;
}

.form-contact ::placeholder {
	font-size: 14px;
	color:var(--oscuro);
	font-family: var(--opensans);
}

.form-contact input[type="text"] {
	width: 67%;
	outline:none;
	border:none;
	padding:0.7em;
	background-color: #fff;
	font-size: 14px;
}

.form-contact input[type="submit"] {
	width: 30%;
	padding:0.7em;
	font-size: 12px;
	color:#fff;
	background:var(--oscuro);
	border:none;
	font-family: var(--opensans);
}
/* -Footer*/